@model RoleUpdateVM

<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Rol Yönetimi /</span> Rol Güncelle
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>
                <form asp-controller="Role" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" style="color:red"></div>
                    <div class="card-body">

                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label asp-for="RoleName" id="defaultFormControlInput" class="form-label"> Rol </label>
                            <input asp-for="RoleName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="İsim" aria-describedby="defaultFormControlHelp">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Güncelle </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>