

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="~/sneat/assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-size=1.0" />
    <title>Hakkımızda</title>
    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 HTML Admin Dashboard Template built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <link rel="canonical" href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/">
    <link rel="icon" type="image/x-icon" href="~/sneat/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/sneat/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat/assets/css/demo.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/pages/page-auth.css">
    <script src="~/sneat/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat/assets/js/config.js"></script>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM1NDEl5Zc6GjcC8B+Ib7gB0MUP6w5TQ5Tivwfw" crossorigin="anonymous">
    <style>
        body {
            background-color: #E5C287;
            font-family: 'Public Sans', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .banner-image {
            width: 100%;
            height: auto;
            border-radius: 15px;
            margin-bottom: 20px;
        }

        .info-section {
            background-color: #F4EDCC;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            width: 100%;
        }

        h4 {
            color: #4a90e2;
            text-align: center;
        }

        p {
            color: #666;
            text-align: justify;
        }

        .btn-primary, .btn-warning {
            border-radius: 25px;
            padding: 10px 20px;
            font-size: 16px;
            transition: background-color 0.3s ease;
            display: block;
            width: 100%;
            text-align: center;
        }

        .btn-primary {
            background-color: #4a90e2;
            border-color: #4a90e2;
        }

            .btn-primary:hover {
                background-color: #357ab7;
                border-color: #357ab7;
            }

        .btn-warning {
            background-color: #f5a623;
            border-color: #f5a623;
        }

            .btn-warning:hover {
                background-color: #d48806;
                border-color: #d48806;
            }

        .text-center {
            text-align: center;
        }

        footer {
            background-color: #F4EDCC;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            width: 100%;
            text-align: center;
        }

            footer ul {
                list-style: none;
                padding: 0;
            }

                footer ul li {
                    display: inline;
                    margin-right: 10px;
                }

            footer a {
                color: #DEAC80;
                text-decoration: none;
            }

                footer a:hover {
                    color: #4a90e2;
                }
    </style>
</head>

<body>
    <div class="container">
        <div class="info-section">
            <h4 class="mb-2"><i class="bx bx-info-circle icon"></i> Hakkımızda ❤</h4>
            <div class="d-flex justify-content-center align-items-center mb-4">
                <div class="me-4">
                    <img src="~/sneat/assets/img/about.png" alt="About Image" class="img-fluid" style="max-width: 200px;">
                </div>
                <div>
                    <p class="mb-4 mt-3">
                        Merhaba ve blogumuza hoş geldiniz! Biz, bilgiye olan tutkumuzu paylaşmak ve sizlere ilham vermek için bir araya gelmiş bir grup meraklı ve yaratıcı bireyiz. Amacımız, çeşitli konularda en güncel ve güvenilir bilgileri sunarak, okuyucularımızın dünyayı daha iyi anlamalarına yardımcı olmaktır. Blogumuzda, teknoloji, sağlık, eğitim, ekonomi ve daha birçok alanda kapsamlı makaleler, ipuçları ve rehberler bulabilirsiniz. İçeriklerimizi, alanında uzman yazarlarımız ve araştırmacılarımız hazırlamaktadır. Her bir yazımızda, doğruluk ve tarafsızlık ilkesine sadık kalarak, en kaliteli bilgiyi sunmayı hedefliyoruz. Bizimle bu bilgi dolu yolculuğa katıldığınız için teşekkür ederiz. Sorularınız ve geri bildirimleriniz için bize her zaman ulaşabilirsiniz. Birlikte öğrenmeye ve keşfetmeye devam edelim!
                    </p>
                    <div class="text-center">
                        <a asp-controller="Register" asp-action="Register" type="submit" class="btn btn-primary mb-3"><i class="bx bx-user-plus icon"></i> Üye Ol</a>
                        <a asp-area="Admin" asp-controller="Authorize" asp-action="Login" type="submit" class="btn btn-warning d-grid w-100 mt-2">Giriş Yap</a>
                        <p class="text-center mt-2">
                            <span>Zaten üye misiniz? Hemen giriş yap! 🚀</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-center mt-4" style="font-weight: bold; color: #898121;">Blog Blog tüm hakları saklıdır &copy; 2024</p>
        </div>
    </footer>

    <!-- Scriptler buraya gelecek -->
    <script src="~/sneat/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/sneat/assets/vendor/js/menu.js"></script>
    <script src="~/sneat/assets/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
